.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 917px;
	min-height: 660px;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 21px 16px 22px;
}

#menuu105
{
	z-index: 2;
	width: 916px;
}

#u130
{
	width: 112px;
	min-height: 34px;
	margin-right: -10000px;
}

#u133
{
	width: 112px;
	padding-bottom: 17px;
}

#u133:hover
{
	margin: 0px;
}

#u133:active
{
	margin: 0px;
}

#u106
{
	width: 112px;
	min-height: 34px;
	margin-right: -10000px;
	left: 114px;
}

#u107
{
	width: 112px;
	padding-bottom: 17px;
}

#u133.MuseMenuActive,#u107:hover
{
	margin: 0px;
}

#u107:active
{
	margin: 0px;
}

#u134-4,#u110-4
{
	width: 112px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u148
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u151
{
	width: 113px;
	padding-bottom: 17px;
}

#u107.MuseMenuActive,#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u155
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 343px;
}

#u156
{
	width: 113px;
	padding-bottom: 17px;
}

#u151.MuseMenuActive,#u156:hover
{
	margin: 0px;
}

#u156:active
{
	margin: 0px;
}

#u162
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 458px;
}

#u165
{
	width: 113px;
	padding-bottom: 17px;
}

#u156.MuseMenuActive,#u165:hover
{
	margin: 0px;
}

#u165:active
{
	margin: 0px;
}

#u1567
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 573px;
}

#u1568
{
	width: 113px;
	padding-bottom: 17px;
}

#u165.MuseMenuActive,#u1568:hover
{
	margin: 0px;
}

#u1568:active
{
	margin: 0px;
}

#u169
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 688px;
}

#u172
{
	width: 113px;
	padding-bottom: 17px;
}

#u1568.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u172:active
{
	margin: 0px;
}

#u176
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 803px;
}

#u179
{
	width: 113px;
	padding-bottom: 17px;
}

#u172.MuseMenuActive,#u179:hover
{
	margin: 0px;
}

#u179:active
{
	margin: 0px;
}

#u179.MuseMenuActive
{
	margin: 0px;
}

#u152-4,#u157-4,#u166-4,#u1571-4,#u175-4,#u180-4
{
	width: 113px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1085
{
	z-index: 55;
	width: 720px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 4px;
	position: relative;
	padding: 14px 89px 26px 106px;
}

#u1086-4
{
	z-index: 56;
	width: 280px;
	min-height: 22px;
	font-size: 23px;
	line-height: 28px;
	font-weight: bold;
	margin-left: 250px;
	position: relative;
}

#u1087-4
{
	z-index: 60;
	width: 500px;
	margin-left: 140px;
	margin-top: 11px;
	position: relative;
}

#u1088-4
{
	z-index: 64;
	width: 696px;
	min-height: 148px;
	text-align: justify;
	margin-left: 3px;
	margin-top: 7px;
	position: relative;
}

#u1090-4
{
	z-index: 68;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 261px;
	margin-top: 10px;
	position: relative;
}

#u1091-4
{
	z-index: 72;
	width: 696px;
	margin-left: 3px;
	margin-top: 21px;
	position: relative;
}

#u1092
{
	z-index: 76;
	width: 200px;
	margin-left: 241px;
	margin-top: 25px;
	position: relative;
}

#u1097-4
{
	z-index: 78;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 264px;
	margin-top: 49px;
	position: relative;
}

#u1099-4
{
	z-index: 82;
	width: 648px;
	margin-top: 19px;
	position: relative;
}

#u1100
{
	z-index: 86;
	width: 552px;
	margin-left: 75px;
	margin-top: 26px;
	position: relative;
}

#u1107-4
{
	z-index: 88;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 281px;
	margin-top: 14px;
	position: relative;
}

#u1108-4
{
	z-index: 92;
	width: 562px;
	margin-left: 69px;
	margin-top: 20px;
	position: relative;
}

#u1109-4
{
	z-index: 96;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 223px;
	margin-top: 35px;
	position: relative;
}

#u1110-4
{
	z-index: 100;
	width: 215px;
	margin-left: 207px;
	margin-top: 6px;
	position: relative;
}

#u1111-4
{
	z-index: 104;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 261px;
	margin-top: 106px;
	position: relative;
}

#u1112-4
{
	z-index: 108;
	width: 720px;
	margin-top: 21px;
	position: relative;
}

#u1113
{
	z-index: 112;
	width: 720px;
	left: -1px;
	margin-top: 40px;
	position: relative;
}

#u1118-4
{
	z-index: 114;
	width: 282px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 264px;
	margin-top: 71px;
	position: relative;
}

#u1119
{
	z-index: 118;
	width: 533px;
	margin-left: 95px;
	margin-top: 11px;
	position: relative;
}

#u1124-4
{
	z-index: 120;
	width: 200px;
	font-size: 22px;
	line-height: 26px;
	color: #FF0000;
	font-weight: bold;
	margin-left: 264px;
	margin-top: 67px;
	position: relative;
}

#u1125-32
{
	z-index: 124;
	width: 702px;
	min-height: 214px;
	margin-top: 8px;
	position: relative;
}

#u1125-3
{
	text-align: center;
	color: #7F7F7F;
}

#u1125-2
{
	color: #0000FF;
}

#u1125-5,#u1125-7,#u1125-9,#u1125-11,#u1125-13,#u1125-15,#u1125-17,#u1125-19,#u1125-21,#u1125-23,#u1125-25,#u1125-27,#u1125-29
{
	text-align: center;
}

#u1126-4
{
	z-index: 156;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 312px;
	margin-top: 28px;
	position: relative;
}

#u1127-4
{
	z-index: 160;
	width: 702px;
	margin-top: 19px;
	position: relative;
}

#u1128
{
	z-index: 164;
	width: 400px;
	margin-left: 141px;
	margin-top: 19px;
	position: relative;
}

#u1133-4
{
	z-index: 166;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 312px;
	margin-top: 60px;
	position: relative;
}

#u1134-4
{
	z-index: 170;
	width: 522px;
	margin-left: 141px;
	margin-top: 11px;
	position: relative;
}

#u1135-4
{
	z-index: 174;
	width: 268px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 249px;
	margin-top: 105px;
	position: relative;
}

#u1136-4
{
	z-index: 178;
	width: 522px;
	margin-left: 141px;
	margin-top: 11px;
	position: relative;
}

#u1137-4
{
	z-index: 182;
	width: 200px;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 351px;
	margin-top: 99px;
	position: relative;
}

#u1138-8
{
	z-index: 186;
	width: 533px;
	margin-left: 141px;
	margin-top: 19px;
	position: relative;
}

#u1139
{
	z-index: 194;
	width: 385px;
	margin-left: 198px;
	margin-top: 7px;
	position: relative;
}

#u1147-4
{
	z-index: 51;
	width: 248px;
	min-height: 30px;
	margin-left: 334px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

