.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 916px;
	min-height: 660px;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 22px 16px;
}

#menuu105
{
	z-index: 2;
	width: 916px;
}

#u130
{
	width: 112px;
	min-height: 34px;
	margin-right: -10000px;
}

#u133
{
	width: 112px;
	padding-bottom: 17px;
}

#u133:hover
{
	margin: 0px;
}

#u133:active
{
	margin: 0px;
}

#u106
{
	width: 112px;
	min-height: 34px;
	margin-right: -10000px;
	left: 114px;
}

#u107
{
	width: 112px;
	padding-bottom: 17px;
}

#u133.MuseMenuActive,#u107:hover
{
	margin: 0px;
}

#u107:active
{
	margin: 0px;
}

#u134-4,#u110-4
{
	width: 112px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u148
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u151
{
	width: 113px;
	padding-bottom: 17px;
}

#u107.MuseMenuActive,#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u155
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 343px;
}

#u156
{
	width: 113px;
	padding-bottom: 17px;
}

#u151.MuseMenuActive,#u156:hover
{
	margin: 0px;
}

#u156:active
{
	margin: 0px;
}

#u162
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 458px;
}

#u165
{
	width: 113px;
	padding-bottom: 17px;
}

#u156.MuseMenuActive,#u165:hover
{
	margin: 0px;
}

#u165:active
{
	margin: 0px;
}

#u1567
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 573px;
}

#u1568
{
	width: 113px;
	padding-bottom: 17px;
}

#u165.MuseMenuActive,#u1568:hover
{
	margin: 0px;
}

#u1568:active
{
	margin: 0px;
}

#u169
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 688px;
}

#u172
{
	width: 113px;
	padding-bottom: 17px;
}

#u1568.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u172:active
{
	margin: 0px;
}

#u176
{
	width: 113px;
	min-height: 34px;
	margin-right: -10000px;
	left: 803px;
}

#u179
{
	width: 113px;
	padding-bottom: 17px;
}

#u172.MuseMenuActive,#u179:hover
{
	margin: 0px;
}

#u179:active
{
	margin: 0px;
}

#u179.MuseMenuActive
{
	margin: 0px;
}

#u152-4,#u157-4,#u166-4,#u1571-4,#u175-4,#u180-4
{
	width: 113px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1742-4
{
	z-index: 55;
	width: 741px;
	min-height: 183px;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	font-family: aguafina-script, cursive;
	font-weight: 400;
	margin-left: 156px;
	margin-top: 212px;
	position: relative;
}

#u1147-4
{
	z-index: 51;
	width: 248px;
	min-height: 30px;
	margin-left: 334px;
	margin-top: 247px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

